@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Mali:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arimo, sans-serif;
}

header a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: Mali, sans-serif;
    color: #35635b;
    text-transform: uppercase;
}

/* logo and header section */


#logo {
    font-size: 220%;
    letter-spacing: 2px;
    display: flex;
    margin-left: 0.8em;
    margin-top: 0.8em;
    color: aliceblue;
    
  
}

header {
    padding: 1rem;
    background-color: #35635b;
}

/* nav links styling */

#menu, #logo {
    line-height: 8px
    
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    flex-basis: 100%;
    
    
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: aliceblue
}

/* reading img below heading */

#background-cover {
    background-color: #35635b;
    display: flex;
    padding: 2.4rem;
    height: 300px;
}

#book-img {
    background: url(../images/girl-ga6ad0d6cd_1280.png) no-repeat center center;
    background-size: contain;
    padding: 1em;
    min-width: 30%;       
}

#img-text h2 {
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
}

#img-text {
    padding: 10px;
    color: aliceblue;
    text-align: center;
}







#bottom-home {
    background-color: #35635b;
    overflow: hidden;
    padding: 2.4rem;
}

#bottom-text {
    color: aliceblue;
    padding: 10px;
    
}

#bottom-text h2 {
    color: aliceblue;
    text-align: center;
}

#bottom-text h3 {
    color: #35635b;
    text-align: center;
}

.p-1-bottom {
    background-color: aliceblue;
    color: #35635b;
    padding: 1em;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    border: solid#35635b;
    border-radius: 25%;
}



/* goals section */

#goals-section h2 {
    text-align: center;
    padding: 1em;
}

.column {
    width: 33.33%;
    flex-basis: 100%;
    padding: 15px;
    margin-top: 30px;
}

.column h3 {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}



#goals-section {
    height: 300px;
    width: 100%;
    background-color: aliceblue;
}



/* footer */

footer {
    height: 150px;
    background-color: aliceblue;
}

.socials {
    text-align: center;
}

.socials > li {
    display: inline;
}

.socials i {
    color: #35635b;
    font-size: 25px;
    margin-top: 20px ;
    padding: 3%;
}


/* book club times */

.h2-table {
    text-align: center;
    padding: 1.5em;
}

#club-times {
    height: 700px;
    background-color: aliceblue;
    width: 100%;
}

table {
    height: 500px;
    width: 80%;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
    
  
}

tr:nth-child(even) {
    background-color: #35635b;
    color: #edf6f9;
}

/* sign up form */

#form-area {
    height: 600px;
    width: 100%;
    padding: 15px;
    background-color: #35635b
   
}

#form {
    height: 400px;
    width: 50%;
    color: aliceblue; 
    border: solid aliceblue;
    border-radius: 25px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 2em;
}

form h2 {
    color: aliceblue;
    text-align: center;
    padding: 25px;
    
}

.text-input {
    border: 2px aliceblue;
    margin: 5px 0 20px 0;    
    width: 100%;
    background-color: aliceblue;
    color: #35635b;

}

input[type=submit] {
    background-color: aliceblue;
    margin: 1em;
    padding: 10px;
    font: inherit;
    font-size: 0.9em;
    border-radius: 25%;
}

#preference {
    font-size: 0.9em;
    margin: 8px 5px 0 0;
    padding: 1px;
    color: #35635B;
}

/* media queries */

@media screen and (max-width: 1250px) {
    #club-times {
        height: 1000px;
    }
    
    table {
        border: none;
        height: 850px;
        padding: 0.2em;
        width: 100%;
    }

}

@media screen and (max-width: 975px) {
    #background-cover {
        height: 500px;
        
    }

    #img-text {
        font-size: 1.2em;
        border: none;
    }

    #goals-section {
        height: 550px;
    }

    .row {
        flex-direction: column;
        text-align: center;
        width: 95%;
    }

    .column {
        width: 100%;
        padding: 1em;
    }

}   

@media screen and (max-width: 825px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 40px;
        font-size: 1.2em;
        
        
    }

    #logo {
        justify-content: center;
    }

}

@media screen and (max-width: 800px) {
    #background-cover {
        height: 600px;
        
    }

    #form {
        height: 450px;
        width: 80%;
        font-size: 1.2em;
        }

}

@media screen and (max-width: 700px) {
    #club-times {
        height: 1150px;
    }

    #background-cover {
        height: auto;
    }

    #goals-section {
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .row {
        width: 90%;
    }
}

@media screen and (max-width: 470px) {
    nav {
        font-size: 12px;
        margin-left: 50px;
    }

    #logo {
        font-size: 1.5em;
    }

    #menu li {
        text-align: center;
    }

    #background-cover {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #book-img {
        visibility: hidden;
    }

    #form {
        border: none;
    }

   
}

@media screen and (max-width: 300px) {



}
 
  






