@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Mali:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arimo, sans-serif;
}

header a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: Mali, sans-serif;
    color: #35635b;
    text-transform: uppercase;
}

/* logo and header section */

#logo {
    font-size: 220%;
    letter-spacing: 2px;
    float: left;
    margin-left: 0.8em;
}



/* nav links styling */

#menu, #logo {
    line-height: 75px;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    list-style-type: none;
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #35635b;
}

/* reading img below heading */

#background-cover {
    width: 100%;
    height: 400px;
    background-color: #35635b;
    overflow: hidden;
}

#book-img {
    background: url('../images/girl-ga6ad0d6cd_1280.png') no-repeat center center;
    width: 100%;
    height: 300px;
    background-size: contain;
    padding: 1em;  
    margin-top: 30px;
    margin-left: 300px;  
}

#img-text h2 {
    color: aliceblue;
    padding: 10px;
    
}

#img-text p {
    color: aliceblue;
    padding: 10px;
    font-size: 18px;
}

#img-text {
    bottom: 250px;
    left: 200px;
    position: absolute;
    border: solid aliceblue;
    border-width: 2px;
    padding: 10px;
    border-radius: 25px;
}

/* goals section */

.goals {
    display: inline-block;
    padding: 1em;
    border: solid #35635b;
    margin-top: 25px;
  
}

.goals h3 {
    text-align: center;
    bottom: 5px;
    text-transform: uppercase;
}

#our-goals h2 {
    text-align: center;
}

#our-goals {
    padding: 20px;
    background-color: #edf6f9;
}







